@import '../../components/theme/variables';

.button {
  margin: 0;
  padding: 0 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 4px;
  background-color: var(--primary);
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s;
  &Large {
    font-size: 16px;
    line-height: 20px;
    height: 40px;
    & + .buttonIcon {
      width: auto;
      height: auto;
      padding: 7px;
    }
  }
  &Medium {
    font-size: 16px;
    line-height: 20px;
    height: 32px;
    & + .buttonIcon {
      width: auto;
      height: auto;
      padding: 3px;
    }
  }
  &Small {
    font-size: 12px;
    line-height: 14px;
    height: 22px;
    & + .buttonIcon {
      width: auto;
      height: auto;
      padding: 0;
    }
  }
  &Contained {
    &Primary {
      background-color: var(--primary);
      border: 1px solid var(--border);
      color: var(--color);
      &:hover {
        background-color: var(--hover);
        border: 1px solid var(--hover);
      }
      &[disabled] {
        background-color: var(--disabled);
        border: 1px solid var(--disabled);
        pointer-events: none;
      }
    }
    &Secondary {
      background-color: #13294B;
      border: 1px solid #13294B;
      color: #fff;
      &:hover {
        background-color: #0A182F;
        border: 1px solid #0A182F;
      }
      &[disabled] {
        background-color: #E2E5E9;
        border: 1px solid #E2E5E9;
        pointer-events: none;
      }
    }
  }
  &Outlined {
    &Primary {
      background-color: var(--background);
      border: 1px solid #FF2402;
      color: #FF2402;
      &:hover {
        background-color:  #FFE4E0;
        border: 1px solid #FF2402;
      }
      &[disabled] {
        background-color: #FFF6F5;
        border: 1px solid #FFB0A4;
        color: #FFB0A4;
        pointer-events: none;
      }
    }
    &Secondary {
      background-color: #fff;
      border: 1px solid #717F93;
      color: #13294B;
      &:hover {
        background-color: #E2E5E9;
        border: 1px solid #717F93;
      }
      &[disabled] {
        background-color: #F6F7F8;
        border: 1px solid #B9BFC9;
        color: #B9BFC9;
        pointer-events: none;
      }
    }
  }
  &Text {
    &Primary {
      background-color: transparent;
      border: 1px solid transparent;
      color: #FF2402;
      &:hover {
        background-color: #FFE4E0;
        border: 1px solid #FFE4E0;
      }
      &[disabled] {
        color: #FFB0A4;
        pointer-events: none;
      }
    }
    &Secondary {
      background-color: transparent;
      border: 1px solid transparent;
      color: #13294B;
      &:hover {
        background-color: #E2E5E9;
        border: 1px solid #E2E5E9;
      }
      &[disabled] {
        color: #E2E5E9;
        pointer-events: none;
      }
    }
  }
  &Icon {
    width: auto;
    padding: 7px;
  }
}
