@import '../../components/theme/variables';

.button {
  margin: 0;
  padding: 0 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 4px;
  background-color: transparent;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s;
  &Large {
    font-size: 16px;
    line-height: 20px;
    height: 40px;
    & + .buttonIcon {
      width: auto;
      height: auto;
      padding: 7px;
    }
  }
  &Medium {
    font-size: 16px;
    line-height: 20px;
    height: 32px;
    & + .buttonIcon {
      width: auto;
      height: auto;
      padding: 3px;
    }
  }
  &Small {
    font-size: 12px;
    line-height: 14px;
    height: 22px;
    & + .buttonIcon {
      width: auto;
      height: auto;
      padding: 0;
    }
  }
  &Contained {
    &Primary {
      background-color: var(--primary);
      border: 1px solid var(--primary);
      color: #fff;
      &:hover {
        background-color: var(--primaryDark);
        border: 1px solid var(--primaryDark);
      }
      &[disabled] {
        background-color: var(--primaryLighter);
        border: 1px solid var(--primaryLighter);
        pointer-events: none;
      }
    }
    &Secondary {
      background-color: var(--secondary);
      border: 1px solid var(--secondary);
      color: #fff;
      &:hover {
        background-color: var(--secondaryDark);
        border: 1px solid var(--secondaryDark);
      }
      &[disabled] {
        background-color: var(--secondaryLighter);
        border: 1px solid var(--secondaryLighter);
        pointer-events: none;
      }
    }
  }
  &Outlined {
    &Primary {
      border: 1px solid var(--primary);
      color: var(--primary);
      &:hover {
        background-color:  var(--primaryLighter);
        border: 1px solid var(--primary);
      }
      &[disabled] {
        background-color: var(--primaryLighter);
        border: 1px solid var(--primaryLight);
        color: var(--primaryLight);
        pointer-events: none;
      }
    }
    &Secondary {
      border: 1px solid var(--secondaryLight);
      color: var(--secondary);
      &:hover {
        background-color: var(--secondaryLighter);
        border: 1px solid var(--secondaryLight);
      }
      &[disabled] {
        background-color: var(--secondaryLightest);
        border: 1px solid var(--secondaryLight);
        color: var(--secondaryLight);
        pointer-events: none;
      }
    }
  }
  &Text {
    &Primary {
      background-color: transparent;
      border: 1px solid transparent;
      color: var(--primary);
      &:hover {
        background-color: var(--primaryLighter);
        border: 1px solid var(--primaryLighter);
      }
      &[disabled] {
        color: var(--primaryLight);
        pointer-events: none;
      }
    }
    &Secondary {
      background-color: transparent;
      border: 1px solid transparent;
      color: var(--secondary);
      &:hover {
        background-color: var(--secondaryLighter);
        border: 1px solid var(--secondaryLighter);
      }
      &[disabled] {
        color: var(--secondaryLighter);
        pointer-events: none;
      }
    }
  }
  &Icon {
    width: auto;
    padding: 7px;
  }
}
