.element {
  position: relative;
  padding: 12px;
  border-right: 1px solid #e2e5e9;
  border-bottom: 1px solid #e2e5e9;
  list-style: none;
  @media (max-width: 1024px) {
    padding: 8px;
  }
  @media (max-width: 340px) {
    max-width: 200px;
  }
  &:last-child {
    border-color: transparent;
  }
  .link {
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: 8px;
    padding-top: 100%;
    .img {
      position: absolute;
      top: 0;
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 4px;
      background: white;
      object-fit: contain;
      max-height: 216px;
    }
  }
  .location {
    height: 14px;
    margin: 0 0 6px 0;
    color: #717f93;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.15px;
    @media (max-width: 767px) {
      margin: 0 0 4px 0;
      font-size: 12px;
      line-height: 12px;
    }
  }
  .name {
    display: -webkit-box;
    overflow: hidden;
    height: 40px;
    margin: 0 0 6px 0;
    color: #13294b;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.15px;
    text-overflow: ellipsis;
    word-break: break-word;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-decoration: none;
    @media (max-width: 767px) {
      margin: 0 0 4px 0;
      font-size: 14px;
      line-height: 18px;
    }
  }
  .sellers {
    list-style: none;
    padding: 0;
    display: flex;
    width: 100%;
    &__element {
      margin: 0 4px 0 0;
      padding: 4px 8px;
      background: #f6f7f8;
      border-radius: 2px;
      color: #13294b;
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      letter-spacing: 0.15px;
      @media (max-width: 767px) {
        padding: 4px;
        font-size: 12px;
        line-height: 12px;
      }
    }
    &__btn {
      border: none;
      cursor: pointer;
      padding: 4px 6px;
      margin: 0;
      transition: all 0.2s;
      &:hover {
        background-color: #b9bfc9;
      }
      &:active,
      &:focus {
        background-color: #e2e5e9;
      }
    }
    &__popup {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      background-color: #fff;
      list-style: none;
      position: absolute;
      padding: 8px;
      box-shadow: 0 8px 12px rgba(175, 185, 198, 0.14),
      0 4px 16px rgba(175, 185, 198, 0.12), 0 4px 6px rgba(175, 185, 198, 0.2);
      border-radius: 8px;
      margin: 30px 0 0 0;
      left: 50%;
      top: 0;
      z-index: 1;
      transform: translateX(-60%);
      li {
        margin: 0 0 4px;
        text-align: right;
      }
    }
  }
}
