@mixin reset {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
}

.h1 {
  font-style: normal;
  font-weight: 300;
  font-size: 42px;
  line-height: 52px;
  @include reset;
  @media (max-width: 1024px){
    font-size: 36px;
    line-height: 44px;
  }
  @media (max-width: 768px){
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.02em;
  }
}
.h2 {
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 44px;
  @include reset;
  @media (max-width: 1024px){
    font-weight: 300;
    font-size: 32px;
    line-height: 38px;
  }
  @media (max-width: 768px){
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
  }
}
.h3 {
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  @include reset;
  @media (max-width: 1024px){
    font-size: 28px;
    line-height: 34px;
  }
  @media (max-width: 768px){
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
  }
}
.h4 {
  font-weight: 400;
  font-size: 28px;
  line-height: 32px;
  @include reset;
  @media (max-width: 1024px){
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
  }
  @media (max-width: 768px){
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
  }
}
.h5 {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  @include reset;
  @media (max-width: 1024px){
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
  }
  @media (max-width: 768px){
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
  }
}
.h6 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  @include reset;
  @media (max-width: 1024px){
    font-size: 18px;
    line-height: 22px;
  }
  @media (max-width: 768px){
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
  }
}
.p {
  @include reset;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.25px;
  text-indent: 1px;
  color: #717F93;
  @media (max-width: 768px){
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.25px;
  }
}
