.container {
  font-family: "Roboto", sans-serif;
  position: relative;
  .label {
    position: absolute;
    top: 8.5px;
    left: 12px;
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.15px;
    color: #717F93;
  }
  .icon {
    color: #13294B;
    font-size: 20px;
    transform: rotate(90deg);
  }
  .select {
    [class$="-control"] {
      background: #F6F7F8;
      border-radius: 4px;
      border: none;
      border-bottom: 2px solid #717F93;
      &:hover {
        border-color: #13294B;
      }
    }
    [class$="-ValueContainer"] {
      padding: 26px 12px 8px;
    }
    [class$="-Input"] {
      padding: 0;
      margin: 0;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
    }
    [class$="-placeholder"] {
      color: #717F93;
    }
    [class$="-indicatorSeparator"] {
      display: none;
    }
    [class$="-MenuList"] {

    }
    [class$="-option"] {
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 0.5px;
      color: #13294B;
      padding: 10px 12px;
      background-color: #fff;
      cursor: pointer;
      &:hover {
        background-color: #F6F7F8;
      }
    }
  }
}



