.article {
  border: 1px solid #e2e5e9;
  border-radius: 8px;
}
.link {
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: 8px;
  padding-top: 100%;
}

.box {
  position: relative;
  margin: 0 0 8px 0;
  padding: 100% 0 0 0;
  &__inner {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
  }
  &__img {
    position: absolute;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: white;
    border-radius: 8px 8px 0 0;
  }
}
//.content {
//  display: flex;
//  flex: 1;
//  flex-direction: column;
//  padding: 0;
.name {
  display: -webkit-box;
  overflow: hidden;
  padding: 0 8px;
  height: 40px;
  margin: 0 0 8px 0;
  color: #13294b;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.15px;
  text-overflow: ellipsis;
  word-break: break-word;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  //@include _768 {
  //  margin: 0 0 6px 0;
  //  font-size: 14px;
  //  line-height: 18px;
  //}
  //@include _580 {
  //  margin: 0 0 4px 0;
  //  padding: 0 5px;
  //  height: 36px;
  //}
}
.location {
  height: 14px;
  padding: 0 8px;
  margin: 0 0 8px 0;
  color: #717f93;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.15px;
  //@include _768 {
  //  margin: 0 0 6px 0;
  //}
  //@include _580 {
  //  height: 16px;
  //  margin: 0 0 4px 0;
  //  padding: 0 5px;
  //  font-size: 12px;
  //  line-height: 16px;
  //}
}
.store {
  display: -webkit-box;
  overflow: hidden;
  height: 16px;
  margin: 0 0 8px 0;
  padding: 0 8px;
  color: #13294b;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.25px;
  text-indent: 1px;
  text-overflow: ellipsis;
  word-break: break-word;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  //@include _768 {
  //  margin: 0 0 6px 0;
  //}
  //@include _580 {
  //  margin: 0 0 4px 0;
  //  padding: 0 5px;
  //  font-size: 12px;
  //  line-height: 16px;
  //}
}
.count {
  height: 14px;
  margin: 0 0 8px 0;
  padding: 0 8px;
  color: #717f93;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.15px;
  //@include _768 {
  //  margin: 0 0 6px 0;
  //  font-size: 12px;
  //}
  //@include _580 {
  //  margin: 0 0 4px 0;
  //  padding: 0 5px;
  //}
}
.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 32px;
  padding: 0 8px;
  margin: 0 0 8px 0;
  //@include _580 {
  //  padding: 0 5px;
  //  margin: 0 0 5px 0;
  //}
}
.price {
  max-width: 75%;
  display: flex;
  align-items: baseline;
  margin: 0 8px 0 0;
  color: #b9bfc9;
  font-weight: 400;
  white-space: nowrap;
  p {
    margin: 0 4px 0 0;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    overflow: hidden;
    color: #13294b;
    text-overflow: ellipsis;
    letter-spacing: initial;
    //@include _991 {
    //  font-size: 18px;
    //  line-height: 22px;
    //}
    //@include _580 {
    //  font-size: 18px;
    //  line-height: 24px;
    //  font-weight: 700;
    //}
  }
  span {
    color: #717f93;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.25px;
    //@include _580 {
    //  font-size: 12px;
    //}
  }
}
.price_btn {
  box-sizing: border-box;
  width: 100%;
  padding: 5px 0;
  border: 1px solid #717f93;
  border-radius: 4px;
  background-color: #fff;
  color: #13294b;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.15px;
  cursor: pointer;
  transition: all 0.4s;
  &:hover {
    background-color: #13294b;
    color: #fff;
  }
}
//}

.isPromo {
  position: relative;
  border: 1px solid #ff2402 !important;
  &Block {
    position: absolute;
    top: -1px;
    z-index: 1;
    right: -1px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.15px;
    color: #ffffff;
    background: #ff2402;
    border-radius: 0 6px;
    padding: 6px;
    @media (max-width: 580px) {
      font-size: 14px;
      line-height: 18px;
      padding: 4px;
    }
  }
}

.priceCurrencyHide {
  display: none;
}

.descriptionHide {
  display: none;
}
