@import '../../components/theme/variables';

.label {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  font-weight: 400;
  user-select: none;
  input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    border: 1px solid var(--secondary);
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    &:after {
      content: "";
      position: absolute;
      display: none;
    }
  }
  input:checked ~ .checkmark {
    background-color: #fff;
  }
  input:checked ~ .checkmark:after {
    display: block;
  }
  p {
    margin: 0;
    padding: 0;
    color: var(--secondary);
    line-height: 16px;
    letter-spacing: 0.25px;
    font-family: 'Roboto', sans-serif;
  }
  &Medium {
    padding: 0 0 0 40px;
    height: 24px;
    .checkmark {
      width: 22px;
      height: 22px;
      &:after {
        width: 14px;
        height: 14px;
        background-color: var(--secondary);
        border-radius: 50%;
      }
    }
    p {
      font-size: 14px;
    }
  }
  &Small {
    padding: 0 0 0 24px;
    height: 16px;
    .checkmark {
      width: 14px;
      height: 14px;
      &:after {
        width: 8px;
        height: 8px;
        background-color: var(--secondary);
        border-radius: 50%;
      }
    }
    p {
      font-size: 12px;
    }
  }
}
.disabled {
  .checkmark {
    border-color: #B9BFC9;
  }
  input:checked ~ .checkmark {
    &:after {
      background-color: #B9BFC9;
    }
  }
  p {
    color: #B9BFC9;
  }
}
