@keyframes skeleton {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
.skeleton {

  background-color: rgba(0, 0, 0, 0.11);
  -webkit-animation: skeleton 1.5s ease-in-out 0.5s infinite;
  animation: skeleton 1.5s ease-in-out 0.5s infinite;
  &Circle {
    border-radius: 50%;
  }
  &Box {
    border-radius: 4px;
    width: 100%;
  }
}
