.card {
  background-color: transparent;
  border-radius: 12px;
  border: 1px solid transparent;
  display: block;
  &Shadow {
    box-shadow: 0 8px 12px rgba(175, 185, 198, 0.14),
    0 4px 16px rgba(175, 185, 198, 0.12), 0 4px 6px rgba(175, 185, 198, 0.2);
  }
  &Border {
    border: 1px solid #e2e5e9;
  }
}