.collapse {
  display: flex;
  flex-direction: column;
  width: 100%;
  .buttonTop {
    order: 1;
  }
  .buttonBottom {
    order: -1;
  }
}
.accordion {
  &:first-child {
    button {
      border-top: 1px solid #E2E5E9;
    }
  }
  button {
    border-radius: 0;
    justify-content: space-between;
    padding: 18px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #13294B;
    border: none;
    background-color: transparent;
    cursor: pointer;
    .icon {
      font-size: 20px;
    }
  }
  .content {
    border-bottom: 1px solid #E2E5E9;
    &Open {
      padding: 0 0 16px 0;
    }
  }
}
.content {
  height: 0;
  overflow: hidden;
  transition: height ease 0.3s;
}
