.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 999999;
  &Top {
    align-items: flex-start;
    padding: 10px 0 0 0;
  }
  &Center {
    align-items: center;
  }
  &Bottom {
    align-items: flex-end;
    padding: 0 0 10px;
  }
  &Block {
    position: relative;
    padding: 24px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 8px 24px rgba(175, 185, 198, 0.16), 0 4px 24px rgba(175, 185, 198, 0.12), 0 4px 8px rgba(175, 185, 198, 0.2);
  }
}
.overlay {
  background-color: rgba(19, 41, 75, 0.24);
}
.fullScreen {
  width: 100%;
  height: 100%;
  border-radius: 0;
  box-shadow: none;
}
