@import '../../components/theme/variables';

.label {
  display: flex;
  align-items: center;
  .switch {
    position: relative;
    display: inline-block;
    &Medium {
      width: 44px;
      height: 24px;
      .switchBlock {
        padding: 0 5px 0 12px;
        &:before {
          bottom: 2px;
          left: 2px;
          width: 20px;
          height: 20px;
        }
        .on {
          &:before {
            width: 1px;
            height: 12px;
          }
        }
        .off {
          &:before {
            width: 10px;
            height: 10px;
          }
        }
      }
      input:checked + .switchBlock:before {
        transform: translateX(20px);
      }
    }
    &Small {
      width: 32px;
      height: 16px;
      .switchBlock {
        padding: 0 4px 0 9px;
        &:before {
          bottom: 1px;
          left: 1px;
          width: 14px;
          height: 14px;
        }
        .on {
          &:before {
            width: 1px;
            height: 8px;
          }
        }
        .off {
          &:before {
            width: 6px;
            height: 6px;
          }
        }
      }
      input:checked + .switchBlock:before {
        transform: translateX(16px);
      }
    }
    &Block {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: 20px;
      background-color: #B9BFC9;
      cursor: pointer;
      -webkit-transition: .4s;
      transition: .4s;
      &:before {
        content: "";
        position: absolute;
        border-radius: 50%;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
      }
      .on {
        &:before {
          content: "";
          display: block;
          background-color: #fff;
        }

      }
      .off {
        &:before {
          content: "";
          display: block;
          border: 1px solid #fff;
          border-radius: 50%;
          background-color: transparent;
        }
      }
    }
    input {
      width: 0;
      height: 0;
      opacity: 0;
      &:checked + .switchBlock {
        background-color: var(--secondary);
      }
    }
    &Text {
      margin: 0 0 0 9px;
      font-family: 'Roboto', sans-serif;
      color: var(--secondary);
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.25px;
      cursor: pointer;
      user-select: none;
    }
  }
}

