@import '../../components/theme/variables';

.label {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  font-weight: 400;
  user-select: none;
  color: var(--secondary);
  input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    border: 1px solid var(--secondary);
    border-radius: 4px;
    &:after {
      content: "";
      position: absolute;
      display: none;
      border: solid white;
      transform: rotate(45deg);
    }
  }
  input:checked ~ .checkmark {
    background-color: var(--secondary);
  }
  input:checked ~ .checkmark:after {
    display: block;
  }
  p {
    margin: 0;
    padding: 0;
    color: var(--secondary);
    line-height: 16px;
    letter-spacing: 0.25px;
    font-family: 'Roboto', sans-serif;
  }
  &Medium {
    padding: 0 0 0 40px;
    line-height: 24px;
    font-size: 14px;
    .checkmark {
      width: 22px;
      height: 22px;
      &:after {
        left: 7px;
        top: 1px;
        width: 5px;
        height: 14px;
        border-width: 0 2px 2px 0;
      }
    }
  }
  &Small {
    padding: 0 0 0 24px;
    line-height: 16px;
    font-size: 12px;
    .checkmark {
      width: 14px;
      height: 14px;
      &:after {
        top: -0.7px;
        left: 3.5px;
        width: 4px;
        height: 9px;
        border-width: 0 1.5px 1.5px 0;
      }
    }
  }
}
.disabled {
  .checkmark {
    border-color: #B9BFC9;
  }
  input:checked ~ .checkmark {
    background-color: #B9BFC9;
  }
  p {
    color: #B9BFC9;
  }
}
