.root {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  img {
    display: block;
    -o-object-fit: scale-down;
    object-fit: scale-down;
    width: 100%;
    height: 100%;
    max-height: 100%;
    border-radius: 8px 8px 0 0;
  }
  .item {
    display: none;
    &__active {
      display: block;
    }
  }
  .indicators {
    position: absolute;
    bottom: 4px;
    width: 100%;
    text-align: center;
    &_item {
      display: inline-block;
      width: 4px;
      height: 4px;
      margin: 0 2px;
      border-radius: 50%;
      background: #B9BFC9;
      &__active {
        background: #13294B;
      }
    }
  }
}
