@import '../../components/theme/variables';

@mixin textfieldStyles {
  padding: 4px 0 0 0;
  margin: 0;
  border: none;
  background: transparent;
  outline: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  width: calc(100% - 30px);
  &::placeholder {
    color: var(--secondaryLight);
    letter-spacing: 0.15px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
  }
}
@mixin adornments {
  color: var(--secondaryLight);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.textfield {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  position: relative;
  background: #F6F7F8;
  border-radius: 4px;
  border: none;
  border-bottom: 2px solid var(--secondaryLight);
  outline: none;
  padding: 8px 12px;
  transition: all 0.1s;
  &:focus-within .closeButton {
    opacity: 1;
  }
  &:focus-within {
    border-color: var(--secondary);
  }
  &:hover {
    border-color: var(--secondary);
    .closeButton {
      opacity: 1;
    }
  }
  .label {
    padding: 0;
    margin: 0;
    font-weight: 400;
    color: var(--secondaryLight);
    font-family: 'Roboto', sans-serif;
    //position: absolute;
    //top: 8px;
    font-size: 12px;
    line-height: 14px;
    opacity: 1;
    text-align: left;
    //z-index: 11;
    transition: all 0.2s;
    width: 100%;
  }
  input {
    @include textfieldStyles;
    &[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      appearance: none;
      margin: 0;
    }
    &[type="number"]::-webkit-inner-spin-button {
      -webkit-appearance: none;
      appearance: none;
      margin: 0;
    }
    &[type="number"] {
      -moz-appearance: textfield !important;
    }
    &[type='search']::-webkit-search-decoration,
    &[type='search']::-webkit-search-cancel-button,
    &[type='search']::-webkit-search-results-button,
    &[type='search']::-webkit-search-results-decoration {
      display: none;
    }
  }
  textarea {
    @include textfieldStyles;
    resize: none;
  }
  .iconBlock {
    position: absolute;
    top: 16px;
    right: 16px;
    display: flex;
    align-items: center;
    z-index: 11;
    span {
      margin: 0 0 0 4px;
    }
  }
  .closeButton {
    display: inline-block;
    width: 24px;
    height: 24px;
    opacity: 1;
    padding: 0;
  }
}
.noLabel {
  padding: 8px 12px;
  .iconBlock {
    top: 7px;
  }
}
.fullWidth {
  input {
    width: 100%;
  }
}
.nowrap {
  flex-wrap: nowrap;
}
.error {
  border-color: var(--primary);
}
.disabled {
  &:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: #F6F7F8;
    width: 100%;
    opacity: 0.6;
  }
}
.status {
  &Success {
    border-color: #01BD3A;
    .promptText {
      color: #01BD3A;
    }
  }
  &Error {
    border-color: var(--primary);
    .promptText {
      color: var(--primary);
    }
  }
}
.prefix {
  @include adornments;
  margin: 0 5px 0 0;
}
.suffix {
  @include adornments;
  margin: 0 0 0 5px;
}
.promptText {
  position: absolute;
  bottom: -18px;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.15px;
}
.errorText {
  color: var(--primary);
}
.helperText {
  color: var(--secondaryLight);
}
