$b2bTheme: (
  primary: #FF2402,
  primaryLight: #FF7C67,
  primaryLighter: #FFE4E0,
  primaryDark: #CF1D02,
  secondary: #13294B,
  secondaryLight: #717F93,
  secondaryLighter: #E2E5E9,
  secondaryLightest: #F6F7F8,
  secondaryDark: #0A182F,
);
$b2bGreen: (
  primary: #22D86C,
  primaryDark: #0C8E41,
  primaryLight:#7AE8A7,
  primaryLighter: #E4FAED,
  primaryLightest: #7AE8A7,
  secondary: #003333,
  secondaryLight: #668585,
  secondaryLighter: #E0E6E6,
  secondaryLightest: #A3B5B5,
  secondaryDark: #011C1C,
);
:global {
  .b2bTheme {
    @each $key, $value in $b2bTheme {
        --#{$key}: #{$value};
    }
  }
  .b2bGreen {
    @each $key, $value in $b2bGreen {
      --#{$key}: #{$value};
    }
  }
}
