.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 62px;
  height: 62px;
  background: #E2E5E9;
  border-radius: 62px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  overflow: hidden;
  color: #13294b;
  text-decoration: none;
  text-transform: uppercase;
  @media (max-width: 1024px) {
    width: 48px;
    height: 48px;
  }
  @media (max-width: 767px) {
    width: 36px;
    height: 36px;
  }
  img {
    width: 100%;
    object-fit: contain;
  }
}
