.container {
  display: flex;
  flex-wrap: wrap;
}
.separator {
  width: 100%;
  height: 1px;
  background-color: #13294B;
  margin: 20px 0;
}
.title {
  font-size: 24px;
  line-height: 28px;
  color: #13294B;
  width: 100%;
  margin: 0 0 15px;
  font-family: 'Roboto', sans-serif;
}
.list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
  li {
    display: flex;
    align-items: center;
    margin: 0 15px 15px 0;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: all 0.5s;
    max-width: 250px;
    width: 100%;
    &:hover {
      box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
    }
    p {
      display: flex;
      flex-wrap: wrap;
      margin: 0 0 0 10px;
      padding: 0;
      span {
        width: 100%;
        margin: 0 0 5px 0;
      }
    }
  }
  &Block {
    width: 60px;
    height: 60px;
    border-radius: 4px;
  }
}
