@import '../../components/theme/variables';

.container {
  position: relative;
  font-family: "Roboto", sans-serif;
  width: 100%;
  :global {
    .special-label {
      display: none;
    }
    .flag-dropdown {
     height: 20px;
     top: 24px;
    }
    .selected-flag {
     padding: 0 0 0 12px;
    }
    .country-list {
      padding: 8px 0;
      .country {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.5px;
        color: var(--secondary);
        padding: 10px 9px 10px 46px;
        &:hover {
          background-color: #F6F7F8;
        }
      }
      .flag {
        margin-top: 0;
      }
    }
    .form-control.invalid-number {
       border: none;
       border-bottom: 2px solid var(--primary);
     &:focus {
       border-bottom: 2px solid var(--primary);
       box-shadow: none;
     }
     &:hover {
       border-bottom: 2px solid var(--primary);
     }
    }
  }
  .input {
    width: 100%;
    color: var(--secondary);
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    height: 56px;
    padding: 26px 48px 10px 56px;
    background: #F6F7F8;
    border-radius: 4px;
    border: none;
    border-bottom: 2px solid var(--secondaryLight);
    box-shadow: none;
    &::placeholder {
      color: var(--secondaryLight);
    }
    &:hover {
      border-bottom: 2px solid var(--secondary);
    }
    &:focus {
      border-bottom: 2px solid var(--secondary);
      box-shadow: none;
    }
  }
  .label {
    position: absolute;
    top: 8px;
    left: 12px;
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.15px;
    color: var(--secondaryLight);
    z-index: 1;
  }
  .prompt {
    position: absolute;
    bottom: -16px;
    margin: 0;
    padding: 0 0 0 12px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.15px;
  }
  .errorText {
    color: var(--primary);
  }
  .helperText {
    color: var(--secondaryLight);
  }
  .icon {
    position: absolute;
    top: 16px;
    right: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
  }
  .dropdown {
    top: 24px;
    box-shadow: 0 8px 12px rgba(175, 185, 198, 0.14), 0 4px 16px rgba(175, 185, 198, 0.12), 0 4px 6px rgba(175, 185, 198, 0.2);
    border-radius: 8px;
  }
}
.noLabel {
  .input {
    height: 42px;
    padding: 8px 48px 8px 56px;
  }
  .icon {
    top: 12px;
  }
  :global {
    .flag-dropdown {
      top: 10px;
    }
  }
}
.disabled {
  :global {
    .selected-flag {
      pointer-events: none;
    }
  }
  .input {
    background-color: #F6F7F8;
    color: #B9BFC9;
    border-color: #B9BFC9;
    &:hover {
      border-color: #B9BFC9;
    }
  }
  .label {
    color: #B9BFC9;
  }
  .icon {
    color: #B9BFC9;
  }
}
.error {
  .input {
    border-color: var(--primary);
  }
}
